atlases/
tre_evaluation/samples/average/average_10um.tif
tre_evaluation/samples/sample1/190827_pvcresox14_autofl_10um.tif
tre_evaluation/samples/sample2/190904_pvcresox14_autofl_10um.tif
tre_evaluation/output
